@media only screen and (max-width: 650px) {
  * {
    padding: 0;
    margin: 0;
  }

  .img {
    width: 25vw;
    height: 12vh;
    /* margin-left: 10px; */
  }
  nav {
    height: 15vh;
    width: 100%;
    background-color: rgb(22, 22, 119);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .div1 {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
  }
  .img1 {
    width: 7vw;
    height: 4vh;
    display: inline;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.4em;
  }
  h4 {
    color: white;
    font-size: 1em;
    margin-right: 7px;
  }
  #profile {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-right: 7px;
  }
  .main {
    margin: auto;
  }
  #items {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 5%;

    width: 90%;
  }
  .itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 50vh;
    border: 1px solid gainsboro;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(226, 230, 230);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #h3 {
    margin-left: 20px !important;
    margin-top: 8%;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .prodImage {
    height: 30vh;
    width: 50vw;
  }
}

@media only screen and (min-width: 651px) {
  * {
    padding: 0;
    margin: 0;
  }

  .img {
    width: 10vw;
    height: 12vh;
  }
  nav {
    height: 15vh;
    background-color: rgb(22, 22, 119);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .div1 {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 40px;
  }
  .img1 {
    width: 3vw;
    height: 5vh;
    display: inline;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
  }
  h4 {
    color: white;
    font-size: 1.3em;
  }
  #profile {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
  .main {
    margin: auto;
  }
  #items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 5%;

    width: 90%;
  }
  .itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 50vh;
    border: 1px solid gainsboro;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(226, 230, 230);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #h3 {
    margin-left: 20px !important;
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  .prodImage {
    height: 15vh;
    width: 13vw;
  }
}
